<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Template</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'src/styles/app' %>
    <%= javascript_pack_tag 'src/index' %>
    <%= javascript_pack_tag 'src/scripts/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
