<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Template</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'src/styles/app' , :media => "all" %>
    <%= javascript_pack_tag 'src/index' %>
    <%= javascript_pack_tag 'src/scripts/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
